<div class ="container">
<h2> Messages </h2>
  <ul class="inbox">
    <% @messages.each do |message| %>
  <li class="message">
      <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/henriettefl">
      <div class="message-name">
        <h3><%= message.user.user_name %></h3> <!-- sender -->
      </div>
      <div class="message-body">
        <p><strong> <%= message.title %></strong></p> <!-- message header -->
        <p>
          <%= message.content[0,20] + "..." %> <!-- message first line -->
        </p>
        <%= link_to '', message_path(message) %>
      </div>
  </li>
    <% end %>

    <!--   <div class="message-status"> -->
     <!--  <p class="status pending"> </p>  --><!-- status, ie. pending, solved -->
     <!-- <p class="price"><%#= @message.receive_messages.price %></p> --> <!-- price -->
     <!-- </div> -->
  </ul>
</div>
