 <div class="container">
   <div class="row">
    <div class="new-message">
      <%= @messages.new %>
      <%= render 'simple_form_for' %>
    </div>
    <div class="old-messages">
      <% @messages.each do |message| %>
      <div class="row row-condensed space-6 post"><div class="col-sm-9 col-md-9 col-lg-10"><div class="panel-quote-flush panel-quote panel panel-quote-right"><div class="panel-body panel-dark"><div><div style="white-space: pre-wrap; overflow-wrap: break-word;"><span class="message-text"><span><%= message.text %></span></span></div></div><div class="space-top-2 text-muted row row-condensed"><div class="col-sm-8"><span class="time">7 oct. 2017</span><span class="exact-time hide">Sat Oct 07 2017 21:40:31 GMT+0200 (CEST)</span><!-- react-text: 69 --><!-- /react-text --></div><div class="col-sm-4"></div></div></div></div></div><div class="col-sm-3 col-md-3 col-lg-2 text-right"><div class="_e296pg" style="height: 72px; width: 72px; display: block;"><img class="_12r18es" src="https://a0.muscache.com/im/pictures/543e5f67-3ebc-40ad-823e-afd474c4ea36.jpg?aki_policy=profile_medium" alt="Message de la part de Alexandre" title="Message de la part de Alexandre" width="72" height="72"></div></div></div>

      <% end %>
    </div>

  <!-- <div class="reminder-messages">
    #when an action is performed or needed- request + date/ booking/.. a reminder message is provided automatically
  </div> -->
  <!-- <div class="col-md-7 col-md-push-5 messaging-thread-main">
    <div id="message_friction_react" class="thread-list-item"></div>

    <div class="js-messaging-react-container messaging-thread-container"></div>
  </div> -->
</div>
</div>







