
.space-top-8 {
  margin-top: 100px;
  text-align: center;
  display: block;
  h1 {
    border-bottom: 3px #F2BB05 solid;
    font-family: 'Abril Fatface';
    font-size: 50px;
    padding: 20px;
  }
}

.booking-cards {
  display: block;
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;

  a {
    text-decoration: none;
    border: 2px solid #F2BB05;
    padding: 3px 5px;
    border-radius: 4px;
    transition: 0.3s ease;
  }
  a:hover {
    color: #D68907;
    border-color: #D68907;
  }
}
