/* TODO: design your flexbox layout with a sticky map */

/* We just give you a Gmaps with random width/height */

#map {
  flex: 0 0 400px;

  position: sticky !important;
  top: 0 !important;
}

.content {
  display: flex;
}

.gm-style-iw {

  display: flex;
  justify-content: center;

  .btn {
    background-color: #F2BB05;
    font-weight: bold;
    color: black;
    border-radius: 4px;
  }

  .btn:hover {
    background-color: #F2BB05;
    opacity: 0.6;
    box-shadow: 0 0 2px #4D4D4D;
    color: white;
  }

  img {
    border-radius: 4px;
    margin: 5px;
  }
}
