.container {
  margin-top: 70px;
  width: 80%;
  h2 {
    margin-bottom: 20px;
  }
}

.messages-container {
  height: 70vh;
}

.messgae-row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    li {
    vertical-align : middle;
  }
}

.speech-bubble {
  position: relative;
  background: #EF476F;
  border-radius: .4em;
  margin: 5px 5px auto;
  width: 100%;
}
.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #EF476F;
  border-left: 0;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.speech-bubble-output {
  position: relative;
  background: #F2BB05;
  border-radius: .4em;
  margin: 5px 5px auto;
  width: 100%;
}
.speech-bubble-output:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #F2BB05;
  border-left: 0;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  a {
    color: #E8EFF2;
  }
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: #E8EFF2;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #3E4041;
  padding: 0 !important;
  border-radius: 4px;
  border-radius: 4px;
  border:1px solid #3E4041;
  margin-top: 20px;
  margin-left: 50px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #3E4041;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #F2BB05;
  background-image: #3E4041;
  border: #3E4041;
  color: #3E4041;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #F2BB05;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.yellow-btn-messages {
  background-color: #F2BB05;
  margin-left: 30px;
  bottom: 50%;
  position: relative;
  font-weight: bold;
  color: black;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.yellow-btn-messages:hover {
  background-color: #F2BB05;
  opacity: 0.6;
  box-shadow: 0 0 2px #4D4D4D;
  color: white;
}
